[package]
name = "libium"
version = "1.18.0"
edition = "2021"
authors = ["Ilesh Thiada (theRookieCoder) <ileshkt@gmail.com>", "Daniel Hauck (SolidTux)"]
description = "Multi-source backend for managing Minecraft mods and modpacks from Modrinth, CurseForge, and Github Releases"
repository = "https://github.com/theRookieCoder/libium"
readme = "README.md"
license = "MPL-2.0"
keywords = [
	"minecraft",
	"mod-manager",
	"modrinth",
	"curseforge",
	"github-releases"
]

[features]
# Use the GTK backend
gtk = ["rfd/gtk3"]
# Use the XDG Portal Desktop backend
xdg = ["rfd/xdg-portal"]

[dependencies]
reqwest = { version = "0.11.10", default-features = false, features = ["rustls-tls", "json"] }
octocrab = { version = "0.16.0", default-features = false, features = ["rustls"]}
tokio = { version = "1.18.2", default-features = false, features = ["fs"] }
rfd = { version = "0.8.2", default-features = false, optional = true }
serde = { version = "1.0.137", features = ["derive"] }
clap = { version = "3.1.18", features = ["derive"] }
url = { version = "2.2.2", features = ["serde"] }
lazy_static = "1.4.0"
urlencoding = "2.1.0"
serde_json = "1.0.81"
dialoguer = "0.10.1"
thiserror = "1.0.31"
ferinth = "2.2.2"
bytes = "1.1.0"
furse = "1.3.0"
sha1 = "0.10.1"
home = "0.5.3"
size = "0.1.2"
zip = "0.6.2"
