[package]
name = "libium"
version = "1.20.0"
edition = "2021"
authors = [
    "Ilesh Thiada (theRookieCoder) <ileshkt@gmail.com>",
    "Daniel Hauck (SolidTux)",
]
description = "Multi-source backend for managing Minecraft mods and modpacks from Modrinth, CurseForge, and Github Releases"
repository = "https://github.com/theRookieCoder/libium"
readme = "README.md"
license = "MPL-2.0"
keywords = [
    "minecraft",
    "mod-manager",
    "modrinth",
    "curseforge",
    "github-releases",
]

[features]
gui = ["rfd"]

[dependencies]
rfd = { version = "0.10.0", default-features = false, optional = true, features = [
    "xdg-portal",
] }
reqwest = { version = "~0.11.11", default-features = false, features = [
    "rustls-tls",
    "json",
] }
octocrab = { version = "~0.17.0", default-features = false, features = [
    "rustls",
] }
tokio = { version = "~1.21.0", default-features = false, features = ["fs"] }
serde = { version = "~1.0.144", features = ["derive"] }
clap = { version = "~3.2.20", features = ["derive"] }
url = { version = "~2.2.2", features = ["serde"] }
lazy_static = "~1.4.0"
urlencoding = "~2.1.2"
serde_json = "~1.0.85"
dialoguer = "~0.10.2"
thiserror = "~1.0.33"
ferinth = "~2.6.1"
# Bound to an older version because of octocrab
bytes = "~1.1.0"
furse = "~1.5.3"
home = "~0.5.3"
size = "~0.4.0"
zip = "~0.6.2"
